.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 19px;
  background-color: #ababab9c;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 15;
  pointer-events: none;
  transition-duration: 0ms;
}

.dot.clicked {
  background-color: #abababde;
}

.dot.hidden {
  display: none;
}

@media screen and (max-width: 991px) {
  .dot {
    display: none;
  }

  * {
    cursor: default;
  }
}