@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --theme-bg-color: #1c1c1e;
  --theme-bg-color__darker: #1c1c1e;
  --theme-emp-color: #04ace4;
  --theme-txt-color: #ffffff;
  --theme-bg-color__darker: #151516;
  --theme-emp-color-secondary: #a80404;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-bg-color);
  color: var(--theme-txt-color)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
	transition-duration: 500ms;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--theme-txt-color)
}

.App {
  display: flex;
}


.sidebar {
  background-color: var(--theme-bg-color__darker);
  min-width: 260px;
  width: 25%;
  max-width: 310px;
  height: 100vh;
  position: sticky;
  top: 0
}

.options__wrapper-row {
  display: flex;
  flex-flow: row;
  width: 100%;
}

main {
  width: 100%;
}

.options__wrapper {
  padding: 35px
}

.option {
  width: 250px;
  height: 250px;
  background-color: var(--theme-bg-color__darker);
  margin-right: 20px;
  border-radius: 15px;
}

.option:hover {
  transform: scale(1.1);
  background-color: #ababab9c;
}

.leaderboard-player {
  width: 100%;
  color: white;
  padding: 0 15px;
  border-bottom: 1px solid #3d3d3d;
  font-size: 14px;
}

.leaderboard-player-name {
  color: white;
  font-family: 'Open Sans';
}

.ranks {
  padding-left: 20px;
  padding-right: 20px;
}

.display {
  font-size: 55px;
  font-family: 'Open Sans';
  color: white
}

.display > .gl-span {
  color: var(--theme-emp-color)
}

table {
  font-family: 'Open Sans';
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
  max-width: 85%
}

table, tr {
  width: 100%
}

table th {
  text-transform: uppercase;
  font-size: 12px;
}

tbody {
  background-color: #222224;
}

thead {
  background-color: #2c2c2c;
}

tr td, tr th {
  padding: 8px 10px
}

tr td:first-child, tr th:first-child {
  padding-left: 15px
}

tr td:last-child, tr th:last-child {
  padding-right: 15px
}


tr th {
  text-align: left;
}

thead tr {
  color: white
}

thead tr th {
  padding-top: 13px;
  padding-bottom: 13px
}

.winrate-td {
  display: flex;
  align-items: center;
}

.percent-bar {
  width: 75px;
  height: 5px;
  background-color: #600101;
  margin-left: 10px
}

.percent-fill {
  height: 5px;
  background-color: #00c400;
}

.leaderboard-table tbody tr {
  height: 36px;
  max-height: 350px;
  overflow-y: hidden;
}

.leaderboard-table tbody tr:hover {
  transition-duration: 1s;
  height: 350px;
}

tbody tr td {
  vertical-align: top;
}

.leaderboard-table tbody tr .expanded-content {
  height: 0;
  overflow: hidden;
}

.leaderboard-table tbody tr:hover .collapsed-content {
  height: 0;
  overflow: hidden;
  transition-property: height, width;
  width: 0
}

.leaderboard-table tbody tr:hover .expanded-content {
  height: 350px;
}

.leaderboard-table tbody .rating-col .collapsed-content {
  height: 20px
}

.leaderboard-table .expanded-content > .rank {
  font-size: 45px;
  font-weight: bold;
}

.collapsed-content {
  display: flex;
  align-items: center;
}

.leaderboard-table .expanded-content .player-details img {
  margin-right: 15px;
  /*max-width: 285px;*/
  max-height: 200px
}

.leaderboard-table .expanded-content .player-details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 350px;
}

.leaderboard-table .expanded-content .player-details .vertical-data {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 350px
}

.leaderboard-table .expanded-content .player-details .horizontal-data {
  display: flex;
  justify-content: center;
}


.leaderboard-table .expanded-content .player-details .name {
  padding: 3px 20px;
  background-color: var(--theme-emp-color);
  border-radius: 10px;
  margin-bottom: 20px;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 25px;
}

.leaderboard-table .expanded-content .player-details .name2 {
  padding: 3px 20px;
  background-color: var(--theme-emp-color);
  border-radius: 10px;
}

.leaderboard-table .expanded-content .player-details .name2.secondary {
  background-color: var(--theme-emp-color-secondary);
}

.player-legend-chart__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 15px;
}

.win-percent-with-best_character {
  margin: 0 auto;
  margin-top: 25px;
  width: fit-content;
  font-size: 12px;
}

.player-details__content-wrapper {
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #202022;
  width: 100%
}


.winrate-td .expanded-content {
  width: 100%
}


.personal-winrate-chart__wrapper {
  height: 100%;
  padding: 15px 25px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #202022;
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.leaderboard-table .winrate-td .expanded-content  {
  padding: 11px 0;
}

.expanded-player-rating {
  font-size: 30px;
}

table tr:hover .rating-col .expanded-content {
  display: flex;
}

.rating-col .expanded-content {
  flex-flow: column;
  justify-content: center;
}

.tier-banner__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}

.tier-banner__wrapper img {
  width: 100px;
  height: fit-content;
}

.expanded-content .region__wrapper .region-icon {
  width: 45px
}

table tr:hover .personal-winrate-chart__wrapper {
  opacity: 1
}

.personal-winrate-chart__context {
  position: absolute;
  bottom: 15px;
  font-size: 12px;
  width: 88%;
  text-align: center;
}

.personal-winrate-chart__wrapper {
  opacity: 0;
}

.names2v2 {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.names2v2 > *:not(:last-child) {
  margin-right: 15px;
}

.player-details__content-wrapper.bracket2v2 {
  height: 0;
  overflow-y: hidden;
}

tr:hover .player-details__content-wrapper.bracket2v2 {
  height: 328px
}

.horizontal-data.bracket2v2 {
  background-color: #1c1c1e;
  color: #565656;
  border: 1px solid #565656;
  height: 200px;
  border-radius: 5px;
  align-items: center;
  font-size: 25px;
}

.button {
  padding: 9px 27px;
  font-size: 15px;
  background-color: #2c2c2c82;
  border-radius: 8px;
  border: 1px solid #2e2e2e;
  color: white;
  cursor: pointer;
}

.button:hover:not(.active) {
  background-color: #004156;
  border-color: #004156;
}

.button.active {
  background-color: var(--theme-emp-color);
  border-color: var(--theme-emp-color);
}

.button-group {
  margin-bottom: 15px
}

.button-group .button:not(:first-child), .button-group a:not(:first-child) {
  margin-left: 10px
}

.button-group__label {
  margin-bottom: 8px;
  font-family: 'Open Sans';
  font-size: 14px;
}

.view-button-groups {
  display: flex;
  flex-flow: row;
}

.view-button-groups .button-group__wrapper:not(:last-child) {
  margin-right: 28px;
}

.player-details__content-wrapper .name:hover {
  cursor: pointer;
  background-color: #0079a1 !important;
}

.see-more__wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  max-width: 85%;
  margin-bottom: 50px;
}